<div id="container" class="container-fluid fontClass ">

  <div class="row-fluid">
  
    <div class="span10">
      <ul id="scene" class="scene">
        <li class="layer" data-depth="0.60"><%= image_tag(asset_url("estrellas1.png"), class: "estrellas") %></li>
        <li class="layer" data-depth="0.80"><%= image_tag(asset_url("galaxia1.png"), class: "pos_fixed_g2") %></li>
        <li class="layer" data-depth="0.30"><%= image_tag(asset_url("galaxia2.png"), class: "pos_fixed_g2") %></li>
      </ul>
    </div>

  
    <div class="signup">
    <%= form_tag users_path,  class: "hidden-sm hidden-xs form", role: "form" do %>

    <div class="form-group">
      <%= text_field_tag :username, nil, class: "form-control", placeholder: "Nombre de Usuario" %>
      
    </div>
    <div class="form-group">
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Correo Electrónico"%>
      
    </div>
    <div class="form-group">
      <%= password_field_tag :password, nil, class: "form-control", placeholder: "Contraseña" %>

    </div>
    <div class="form-group">
      <%= password_field_tag :password_confirmation, nil, class: "form-control", placeholder: "Confirmar contraseña"%>
      
    </div>
    <div class="form-group">
      <%= text_field_tag :sexo, nil, class: "form-control", placeholder: "Sexo"%>

    </div>
    <div class="form-group">

      <%= date_field_tag :fecha_nac, nil, placeholder: "dd/mm/aaaa" %>
    </div>


    <div class="actions"><%= submit_tag %></div>

    <% end %>
    </div>
  </div>
</div>



